fastapi
uvicorn
sqlalchemy
pymysql
python-jose
passlib
bcrypt
python-dotenv
python-multipart
pyjwt
pydantic-settings
psycopg2-binary
argon2-cffi
alembic
gunicorn
# for semantic search
pgvector
google-genai
# for tests and async API requests
httpx
pytest-httpx